<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" href="../Users/robertward/code/sei/projects/Health-Hub/public/images/favicon.ico" type="image/png">
    <script src="https://kit.fontawesome.com/4da7a940f0.js"crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/public/js/script.js"></script>
    <title><%= title %></title>