ul {
  margin: 0 0 1.6rem;
  padding: 1;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 6rem;
}

table thead th {
  padding: 7px;
  border-bottom: 2.5px solid #424748;
}

table td {
  padding: 14px;
  text-align: center;
}

form * {
  padding: 6px;
  border-radius: 5.5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3rem;
}

section div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.9rem;
  margin-bottom: 2rem
}

#add-review-form > textarea {
  width: 25rem;
}

#add-review-form > button {
  font-size: 1.9rem;
  width: 16rem;
  grid-column: 2 / 3;
  margin-bottom: 2.4rem;
}